body {
  background-image: url('/images/MegaTron.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;

}

centrarlabel {
  display: block;
  text-align: center;
  line-height: 150%;
  font-size: .85em;
}

.textAlign {
  text-align: center;
}

.alignCenter {
  margin: 0 auto;
}

div {
    border-radius: 5px;
}

.contenedor {
    background-color: #CCC;
    width: 100%;
    height: 100px;
}

.contenido {
    height: 80px;
    width: 10%;
    float: left;
    margin: 10px;
    text-align: center;
}

div {
    width: 200px;
    padding: 25px 0;
    margin: 0;
}
