@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
@*<link rel="stylesheet1" type="text/css" href="styles.css" />*@
<link href="~/css/StyleSheet.css" rel="stylesheet" />
@*<style>
    body { background-image: url('~/images/MegaTron.jpg'); }
    </style>*@



<div style="width: 1700; text-align: center; class="body">
    @{

        Conexion conexion = new Conexion();
        try
        {
            conexion.Conectar();
            conexion.Desconectar();
            <img id="checkimagen" class="alignCenters" style="visibility:initial" src="~/images/checkgif2.gif" alt="gif image" />
            <h2 style="font-family:'Advent Pro'" class="textAlign">El Sistema está en linea</h2>

        }
        catch
        {
            <img id="errorimagen" class="alignCenters" style="visibility:initial" src="~/images/Error.gif" alt="gif image" />
            <h2 style="font-family:'Advent Pro'" class="textAlign">El Sistema no tiene conexión</h2>

        }
    }

    <h1 style="font-family:'a Atomic Md'" class="textAlign">API MIS CALLES LIMPIAS RD</h1>
    <h2 style="font-family:'Advent Pro'" class="textAlign">V. 3.4</h2>
    <h1 style="font-family:'Advent Pro'" class="textAlign">Novedades:</h1>
    <h2 style="font-family:'Advent Pro'" class="textAlign">Nuevo metodo para consultar los Datos del Ayunta</h2>



    @*<br />
        <br />
        <br />

        <div class="alignCenters">
            <h2 style="font-family:'Advent Pro'" class="textAlign" >Marcos Bremont</h2>
            <h2 style="font-family:'Advent Pro'" class="textAlign">Emmanuel Beltre</h2>
            <h2 style="font-family:'Advent Pro'" class="textAlign"> Adderlis Batista</h2>

        </div>*@

</div>
@*<img  src="~/images/MegaTron.jpg"/>*@
